@import url('https://fonts.googleapis.com/css?family=Rubik');

h1,h2,h3 {
  font-family: 'Pacifico', cursive;
}

ul.body-text {
  font-size: 18px;
  font-family: 'Rubik', sans-serif;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

@media screen and (max-width:525px) {
  .grid {
    display: block;
  }
}

* {
  box-sizing: border-box;
}
body {
  padding: 20px;
}
.col {
  padding: 20px;
  border-style: solid;
  border-radius: 5px;
  border-color: #1fcecb;
}

/* IMAGE STYLES */
div.grid img {
  width: 100%;
  margin-bottom: 2em;
}
