.flex-grid {
  display: flex;
  justify-content: space-between;
}
.flex-grid, .col {
  width: 100%;
}

@media screen and (max-width:1500px) {
  .flex-grid { flex-wrap: wrap; }
  .col { flex-basis: 100%; }

* {
  box-sizing: border-box;
}
body {
  padding: 20px;
}
.col {
  padding: 20px;
  border-style: solid;
  border-radius: 5px;
  border-color: #1fcecb;
}

.vt-stories {
  height: 100px;
  width: 330px;
  padding-bottom: 2em;
}

.vt-magazine {
  height: 150px;
  width: 295px;
  padding-bottom: 2em;
}

.vt-clahs {
  height: 225px;
  width: 225px;
}

.philologia {
  height: 150px;
  width: 275px;
}

.header-text {
  font-family: 'Pacifico', cursive;
}

.body-text {
  font-size: 20px;
  font-family: 'Rubik', sans-serif;
}
