.site-header {
  word-wrap: break-word;
  text-align: center;
}

.site-logo-img {
  display: block;
  border-radius: 80px;
}

.btn-fb {
  font-size: 25px;
  padding: 10px 14px;
}

.btn-insta {
  font-size: 25px;
  padding: 10px 12px;
}

.btn-linkedin {
  font-size: 25px;
  padding: 10px 12px;
}

.btn-fb:hover {
  background-color:pink;
}

.btn-insta:hover {
  background-color:pink;
}

.btn-linkedin:hover {
  background-color:pink;
}

main {
  max-width: 1200px
  margin: 0 auto;
}

section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.column {
  flex-basis: 100%
}

@media screen and (min-width: 800px) {
  .column {
    flex: 1;
  }
}

 .indented {
  padding-left: 50pt;
  padding-right: 50pt;
  }


.items-style1 {
  justify-content:center;
  margin: 2.75rem 0;
  position: relative;
  flex-wrap: wrap;
  border-style: solid;
}

.column-grid:hover, .column-grid-skills:hover, .column-grid-education:hover {
  background-color: pink;
}

.column-grid-skills {
  padding-right: 2.80rem;
}

.column-grid-education {
  padding-left: 2.80rem;
}
